COMPOSE_PROJECT_NAME=ftso-stats-alerting
CI_REGISTRY_IMAGE=
DEPLOY_IMAGE_TAG=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NETWORK=flare,songbird
ADDRESSES=1234567890abcdef...,abcdefabcdef1234...,sdfdsfdsfdsfdsf...

MIN_AVAILABILITY=0.98
MIN_SUCCESS_RATE_PRIMARY=0.01
MIN_SUCCESS_RATE_SECONDARY=0.8
